
.content {
    width: 80%;
    height: 100%;
    padding: 20px;
}

.title-content {
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    background-color: #90EE90;
}

.item .update {
    background-color: var(--rosa);
}

.update-content {
    position: relative;
    height: 70%;
    margin-top: 20px;
    padding: 20px;
    border-radius: 10px;
    background-color: var(--blanco);
}

.current-file {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.current-file select {
    width: 30%;
    font-size: 1.2rem;
}

.current-file p, .new-file p, .new-file input[type=file] {
    font-size: 1.2rem;
}

.new-file p, .new-file input[type=file] {
    color: var(--blanco);
}

.new-file form {
    background-color: var(--dark);
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
}